[Unit]
Description=Autostart scx-power-sync-dbus
After=power-profiles-daemon.service dbus.service
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/scx-power-sync-dbus
Restart=always
RestartSec=1
Nice=5

[Install]
WantedBy=default.target
